<div class="container-fluid">
    <div style="padding:80px 0px 0px 0px;" class="row">
        <div class="col-10"></div>
        <div class="col-2 text-right">
            <p class="text-end">
                <a href="admin/login/logout"><button type="button" class="btn btn-primary">Cerrar
                        sesión <i class="fas fa-sign-out-alt"></i></button>
                </a>
            </p>
        </div>

    </div>
</div>
<div class="b-example-divider"></div>

<!-- Inicio hero vertically centered sucess login--->

<div style="padding:10px 50px 10px 50px;" class="px-4 pt-5 my-5 text-center border-bottom">
    <img style="width: 180px;" src="/images/imagotipo.png" alt="logo momentum">
    <h1 class="display-4 fw-bold">¡Estas logeado!</h1>
    <br>
</div>

<!-- inicio layout con definiciones de metodologías-->
<div class="col-lg-6 mx-auto text-center">
    <p class="lead mb-4">Qué deseas hacer?</p>
</div>
<div id="elegir_sesion" style="margin:0px 40px 0px 40px;" class="row text center">
    <div class="col-md-4">
        <div style="margin-left:5px;" class="card">
            <div style="margin:10px;" class="col d-flex align-items-start">
                <div
                    class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <img style="height:30px;" src="/images/activity.png" alt="Hyperscanning">
                </div>
                <div>
                    <h3 class="fs-2">HyperScanning</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse fuga cum assumenda ullam dolorem
                        repellat ex culpa incidunt hic ipsum pariatur vitae quod, voluptate eius quos sed recusandae
                        maxime alias.</p>
                    <a href="/hyperscanning/session_hyperscan" class="btn btn-sucess"><i class="fas fa-plus"></i>
                        Iniciar sesión
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div style="margin:10px;" class="col d-flex align-items-start">
                <div
                    class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <img style="height:30px;" src="/images/refresh-cw.png" alt="neurofeedback">
                </div>
                <div>
                    <h3 class="fs-2">NeuroFeedback</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic sit, aspernatur perspiciatis
                        consectetur accusamus mollitia perferendis eius iure velit nihil veritatis illo error pariatur
                        vero omnis quibusdam saepe labore adipisci!</p>
                    <a href="#" class="btn btn-sucess"><i class="fas fa-plus"></i>
                        Iniciar sesión
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div style="margin:10px;" class="col d-flex align-items-start">
                <div
                    class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <img style="height:30px;" src="/images/heart.png" alt="neurofeedback">
                </div>
                <div>
                    <h3 class="fs-2">Biofeedback</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam similique consequuntur ratione
                        saepe eum ducimus? Iste, exercitationem. Minus, quaerat error? Dolores reprehenderit nam eveniet
                        veritatis.</p>
                    <a href="#" class="btn btn-sucess"><i class="fas fa-plus"></i>
                        Iniciar sesión
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div style="padding:0px 50px 30px 50px; background-color: #E5F4FD;" class="container-fluid">

    <div id="agenda" style="padding:30px 10px 20px 10px;" class="row text-center">
        <h3>Próximas Sesiones</h3>
        <br>
        <div class="row row-cols-1 row-cols-md-4 g-4">
            {{#each agenda}}
            <div class="col">
                <div class="card h-70">
                    <div class="card-body">
                        <h5 class="card-title">{{coachee}}</h5>
                        <p style="text-align:left;" class="card-text"><b>Fecha de sesión: </b>{{fecha_sesion}}<br>
                            <b>N° de sesión: </b>{{n_sesion}}
                            <br><b>Programa: </b>{{programa}}
                            <br><a href="{{test_id}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                    fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.6 11.85H0v3.999h.791v-1.342h.803c.287 0 .531-.057.732-.173.203-.117.358-.275.463-.474a1.42 1.42 0 0 0 .161-.677c0-.25-.053-.476-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0 1-.085.38.574.574 0 0 1-.238.241.794.794 0 0 1-.375.082H.788V12.48h.66c.218 0 .389.06.512.181.123.122.185.296.185.522Zm1.217-1.333v3.999h1.46c.401 0 .734-.08.998-.237a1.45 1.45 0 0 0 .595-.689c.13-.3.196-.662.196-1.084 0-.42-.065-.778-.196-1.075a1.426 1.426 0 0 0-.589-.68c-.264-.156-.599-.234-1.005-.234H3.362Zm.791.645h.563c.248 0 .45.05.609.152a.89.89 0 0 1 .354.454c.079.201.118.452.118.753a2.3 2.3 0 0 1-.068.592 1.14 1.14 0 0 1-.196.422.8.8 0 0 1-.334.252 1.298 1.298 0 0 1-.483.082h-.563v-2.707Zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638H7.896Z" />
                                </svg></a>
                        </p>
                        <a href="/hyperscanning/session_hyperscan" class="btn btn-primary">Iniciar sesión</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>



<!-- fin banda qué hacer--->


<br>